body{
    font-size: 16px; /* 1em */
    margin: 0px auto; /* para centrar */
    max-width: 1078px; /* debido a el ancho del png pero lo recomendable es 1024*/
    min-width: 1078px; /* tamanio minimo */
}
header input{ /* afecta a todos los input dentro del header pero aqui hay uno */
    float: right;
    /* quitar o ponerle pixeles de donde este mas cerca */
    margin-right: -200px; /* esta mas cerca de la derecha */
    margin-top: 15px;
}
header nav{
    /* centrar el nav */
    /* border: 1px solid red; truco para ver las cajas */
    /* text-align: center;  PORQUE ESTE ESTABA MAL? */
    margin-left: 220px; /* mueve toda la caja del nav para que quede centrado */
}
header nav ul li{ /* solo afecta lo que esta mas a la derecha (li) lo demas es solo de ruta*/
    border-bottom: 1px solid gray; /* borde de la caja hacia abajo */
    color: gray;
    display: inline-block;
    font-size: 1.8em;
    margin-right: 15px;
    padding-bottom: 2px; /* espacio entre la caja y el fondo de la caja*/
    /* text-decoration: underline; */

}
footer{
    color: white;
    background-color: #4267b3;
    padding: 5%;
}
#parrafo1{
    width: 31%;
    display: inline-block;
}
#bgoffer{
    left: -35px;
    position: relative; /* relativa de la pantalla para mover cualquier elemento con x, y sin margenes YA NO DENTRO DE SU CAJA*/
    top: -410px;
}
#granthams{
    margin-left: 25px;
    margin-top: 25px;
    /* margin: 25px 0px 0px 25px; */
}
#paint{
    float: right; /* mover a la derecha la foto de pintura */
}
#primerseccion{
    /* border: 1px solid blue; */
    /* poner la seccion del tamanio de la imagen inspeccionando la pagina y sacando la altura*/
    height: 318px;
    margin-top: 60px; /* ya quedo por debajo de la mancha del paint */
}
#primerseccion article{ /* porque el article? */
    display: inline-block;
    /* no se centran porque los dos articles usan el 100% */
    vertical-align: top;
}
#secc01art01{
    /* border: 1px solid red; */
    width: 61%; /* la suma de todos los articles no debe de dar el 100 por margenes y asi*/
}
#secc01art02{
    /* border: 1px solid red; */
    margin-left: 50px;
    width: 31%; 
}
#secc01art02 ul{
    /* quitar el punto negro predeterminado*/
    list-style: none;
}
#secc01art02 ul li:before{
    /* modificar los li [antes del texto]*/
    color: #ff0099;
    content: "• ";
}
#secc03art04{
    padding-top: 60px;
}
#segundaseccion article{
    /* border: 5px solid red; */
    /* con un margen muevo toda la caja y con un padding solo el contenido de la caja */
    /* margin-right: 140px; */
    padding-right: 140px;
    text-align: right;
    
}
#terceraseccion article{
    /* 23 para cada article de la seccion */
    width: 23%;
    display: inline-block;
    /* sale pegado hacia abajo y debe ser hacia arriba entonces...*/
    vertical-align: top;
    
}
#terceraseccion article img{
    /* las imagenes pueden manipular lo que esta alrededor de ellas[texto] */
    vertical-align: middle; /*alineacion vertical del texto que la rodea*/
}
.colorazul{
    color: #4267b3;
}
.colorrosa{
    color: #ff0099;
}
.colorverde{
    color: #8bc500;
}
.letragrande{
    font-size: 3.5em; /* 3.5*16 */
}
.letramediana{
    font-size: 2em;
}
.nito{
    font-weight: bold;
}