/* la etiqueta general es body 
    las letras por defecto tienen un tamanio de 16px que es igual a 1em
*/
body{
    border: 1px solid red;
    font-size: 16px; /*que sea a fuerza 16 independientemente de la configuracion del usuario*/
    margin: 0px auto; /* negativos se acerca mas a la pared positivo se aleja */
    max-width: 1024px;

}

header{
    background: #D1E3EE;
    
}
header nav{
    background: #026dc6;
    /* 5px de redondeo es lo usual */
    border-radius: 5px;
    /* para centrar */
    margin: 0px auto; 
    /* para que crezca 2px de arriba y abajo internamente */
    padding: 2px 0px; 
    width: 99%;

}
header nav form{
    /* para mandarlos a la derecha */
    float: right;
    /* hacer margen con la barra azul del nav */
    margin-right: 10px;
    /* para subir el boton y el input */
    margin-top: -35px;
}
header nav form input{
    border-radius: 5px;
}
header nav form input[type="submit"]{ /* las llaves van pegadas al input */
    background: green;
    border: 1px solid green; /* en vez de quitar el borde, lo pintamos del mismo color */
    color: white;
}
header nav ul li{
    /* border: 1px solid red; */
    color: white;
    display: inline-block;
    margin-right: 20px;

}
#logo{
    margin: -150px 0px 0px 0px;    
    /* margin-top: -150px; */
}