body{
    font-size: 16px; /* 1em */
    margin: 0px auto; /* para centrar */
    max-width: 1024px;
}
header{
    background-color: #1f2837;
    padding-bottom: 50px;
}
header img{
    vertical-align: middle;
}
header ul{
    margin-left: 700px;
    margin-top: -20px;
}
header ul li{
    display: inline-block;
    padding-right: 5px;
    color: white;
}
#seccion01{
    background-color: #1f2837;
    text-align: center;
}
#seccion01 img{
    padding: 10px;
    background: white;
    /* text-align: center;  PORQUE AQUI NO SE CENTRA LA IMAGEN Y ARRIBA SI*/
    margin-bottom: -50px;
}
.blanco{
    color: white;
}
.nito{
    font-weight: bold;
}
